html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
	background: white;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
}

head {
	margin: 0px;
	padding: 0px;
	background: white;
}

article, footer {
	padding: 0;
	margin: 0px;
	background: white;
}

h1, h2, p {
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
}

.red {
	color: red;
}

a {
	text-decoration: none ;
	color: red ;
	font-size: 15px ;
	font-weight: bold; 
	/*font: bold "trebuchet MS", Arial, Tahoma, Sans-serif;*/
}

#SF_logo {
	padding-left: 1px ;
	height: 22px ;
/*  transform:rotate(7deg);
  transition: transform .25s ease;*/
}
/*
#SF_logo:hover {
	transform: scale(1.70) ;
}
*/
a {
	text-decoration:none;
	color: blue ;
}


img.float_right {
    float: right;
    margin-right: 10px ;
    margin-top: 0px;
    padding-top: 0px ;
    height: 70px ;
    /*
    border-bottom: 2px solid #555;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 2px solid #555;
    */
}

img.float_right:hover {
	  background-color: white ;
    /*transform: scale(1.70) ;*/
}

img.float_left {
    float: left;
    padding-right: 10px ;
    transition: transform .25s ease;
    padding-bottom: 5px ;
}

img.float_left:hover {
    float: left;
    padding-right: 10px ;
    transform: scale(1.70) ;
}

img.col23 {
		width: 626px;
}

.expand {
	/*	width: 313px;*/ 
	 transition: transform .25s ease;
}

.expand:hover {
	transform: translate(-9em, 4em) scale(2) ;	
}

img.asideImage {
	width: 313px;
  /*transition: transform .25s ease;*/
}

img.asideImage:hover {
	/*transform: translate(-9em, 4em) scale(2) ;*/
}

.img_col_3 {
		width: 300px;
}

hr {
	  display: block;
    border: 0;
    height: 1px;
    margin: 0px ;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }

/* =Header
 -------------------------------------------------------------- */
#header {
	margin: 0;
	padding: 0;
	/*	background: url(../images/lab_GUI_1_0.png) 0 -470px no-repeat;*/
	/* 	border-bottom: 3px solid #000; */
	width: 100%;
	z-index: 1000;
	min-height: 90px;
	background-color: black;
}

/* =Logo
 -------------------------------------------------------------- */
h1#logo {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 15px 0 0 20px;
	color: #fff;
}

h1#logo img {
	border: none;
	margin: 0;
	width: 100px;
	float: left;
}



/**** ARTICLE ****/
article header {
	padding-top: 10px;
}

article header h1 {
	padding: 15px 0px 15px 20px;
	font-size: 35px;
	line-height: 30px;
	font-weight: normal;
	color: #2F4F4F;
	margin-bottom: 0;
}


article header h1 strong {
	padding: 0px 0 0 10px;
	font-size: 35px;
	line-height: 30px;
	font-weight: bold;
	color: black;
	margin-bottom: 0
}

#articleHeader h1{
	font-size: 30px;
	font-weight: normal;
	margin-top: 40px;;
	padding: 15px 0 0 20px;
}

article p, ul, ol {
	padding-left: 20px;
	padding-right: 30px;
	margin-bottom: 20px;
	text-align: justify;
	font-size: 14px;
	line-height: 130%;
}

article ul, ol {
  margin-left: 20px ;	
}
/*
article hr {
	display: block;
	width: 100% ;
	padding-top: 5px ;
	padding-bottom: 10px ;
	width: 90%; 
	margin-left: 20px ;
}
*/
article hr {
    border: 1px;
    height: 1px;
    width: 100% ;
    margin-top: 15px ;
    margin-bottom: 15px ;
}

/****** SECTION ***/
section header {
	padding-top: 10px;
}

section header h1 {
	padding: 15px 0px 15px 20px;
	font-size: 25px;
	line-height: 30px;
	font-weight: normal;
	color: black;
	margin-bottom: 0
}

section header h2 {
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}

section header h1 strong {
	padding: 0px 0 0 10px;
	font-size: 35px;
	line-height: 30px;
	font-weight: bold;
	color: black;
	margin-bottom: 0
}

section hr {
    border: 1px;
    height: 1px;
    margin-top: 5px ;
    margin-bottom: 5px ;
}

section p {
	margin-left: 0px; 
}

.graph {
	width: 100%
}


.back-to-top {
    float: right ;
    position:relative;
    z-index: 1000;
/*    background: url(../images/back-to-top.png);*/
}

.back-to-top img{
    height: 25px;
    width: 25px;
    padding-left: 20px ;
    padding-right: 20px ;
    background-color:white ;

}

/****** Column container *****/
.columms_container { width:100%; }

/** Column 1/3 width**/
.col3 {
	margin:0px 0px; 
	padding-left:0px; 
	/*width: calc(100%/3 - 20px );*/
	width: 340px;
	float:left; 	
  margin-left: 10px ;
  margin-right: 10px ;
	/*
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
 /* background: linear-gradient(#E9B64D, #FFF) ;*/
  background-color: #FFFFFF ;
}	

/** Column 100% width**/
.col1 {
	margin:0px 0px; 
	padding-left:0px; 
	width: 100%;
	float:left; 	
  /*background: linear-gradient(#E9B64D, #FFF) ;*/
 background-color: white ;
 /* border-radius: 12px;*/
}	


/** Column 2/3% width**/
.col2_3 {
		margin: 0px 0px;
		padding-left: 0px;
		/*width: calc((100%/3) *2 - 20px );*/
  	width: 720px;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
/*		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
	/*	background: linear-gradient(#E9B64D, #FFF);*/
	  background-color: #FFFFFF ;
}

.clear { 
	clear: left; 
}


/****** ASIDE ***/

aside {
  float: right;
  /*width: calc(100%/3 - 20px );*/
  width: 353px;
	min-height: 400px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px ;
	padding-bottom: 20px;
	font-size: 16px;
  background-color: #E9B64D ;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
   border-radius: 12px;
}

aside section {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

aside header {
	margin-left: 0px;
	margin-right: 6px;
}

aside header h1 {
	font-size: 25px;
	line-height: 30px;
	font-weight: normal;
	color: black;
	margin-bottom: 0px;
}

h2.invert {
	padding-left: 10px;
	font-size: 18px;
	color: white;
	line-height: 25px;
	font-weight: normal;
	margin-bottom: 0px;
	background-color: darkslategray;
}

/*
h2.invert:hover {
	color: darkslategray;
	background-color: white;
}
*/
.ul_aside {
	padding-left: 20px ;
}

.ul_aside li {
		/*list-style: none;*/
		margin-left: -20px ;
	  padding-top:3px ;
	/*  border-bottom: 1px solid #D2E8F7; */

}
.ul_aside a {
	text-decoration: none ;
	color: red ;
	font-size: 15px ;
	font-weight: bold; 
	/*font: bold "trebuchet MS", Arial, Tahoma, Sans-serif;*/
}

/***** GRID *****/

.imgRow {
  float: right ;
/*  display: inline ;*/
  width: 90% ;
}


img.gridImg {
	/*float: center;*/
	/*padding-left: 0px;*/
	/*padding-right: 0px;*/
  width: 32%;
  -webkit-transition: transform .25s ease;
  transition: transform .25s ease;
}

img.gridImg:hover {
	background-color: white ;
	-webkit-transform: scale(1.70) ;
  transform: scale(1.70) ;
}

/*** FOOTER ***/
footer.endpage {
	margin-left: 20px ;
	padding-top: 10px ;
  padding-bottom: 20px ;
  height: 60px ;
}

footer.endpage p {
	margin-left: 0px ;
}


#active {
		background-color: black ;
		color: white ;
}

nav {
	padding: 10px;
	float: right;
	margin-left: 0px;
	margin-right: 0px;
	margin-top:-11px;
	}
	
nav ul {
	list-style: none;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
	/*margin-top: 1px;*/
	padding-top: 1px;
	margin-right: 0;
	margin-bottom: 0;
}
	
nav ul li {
  float:left;
  position: relative;
}
 
nav a {
  background:#0c9ba0;
  color:#FFF;
  display:block;
  border:1px solid;
  padding:10px 12px;
}
 
nav ul li a:hover {
  background:#0fbfc6;
}

nav ul li ul {
	display: none ;
	position: absolute;
}

nav ul li:hover ul {
	display: block ;
	z-index: 1000 ;
} 


nav ul li ul li {
	float: none ;
}

article, footer { display: block;}

nav ul li ul li a {

}

ul ul {
	margin-bottom: 0px ;
}

ul.submenu {
    display: none;  
}
li:hover .submenu {
    background: yellow;
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}
ul.submenu li {
    border: none;
    float:left;
    width:150px;
}

.sub-level {
    background: #FFFFFF;
}
 
 
/** Footer **/
footer {
		padding-left: 20px ;
		height: 110px;
}
	
footer  h1 {
	padding: 15px 0px 15px 0px;
	font-size: 25px;
	line-height: 30px;
	font-weight: normal;
	color: black;
	margin-bottom: 0
}

table.fullTable
{
    width: 90%;
    margin: auto;
    text-align: left;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    padding: 8px;
    margin-bottom: 20px ;
}

th
{
   /* color: #b4debb;*/
   text-align: center;
}

td:first-child{
	text-align: center ;
}

tr:nth-child(even)
{
    background-color: #ADA692 ;
}

.fullTable {
	    font-size: 14px ;
}


.fullTable tr:nth-child(even) td{
	/*
	  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    */
    background-color: 	white;
	text-align: left ;
		  padding: 8px ;
	  margin-bottom: 9px ;

}

.fullTable tr:nth-child(odd) td{
	/*
	  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
	  text-align: left ;
	  padding: 8px ;
	  margin-bottom: 9px ;
	   background-color: #ADA692;
}


/** COLORS **/

table.fullTable {
	  background:#84978F;
}

nav a {
  background:#228B22;
  color:#FFF;
}
 
nav ul li a:hover {
  background:#006400;
}


aside {
/*box-shadow: 10px 10px 5px #888888;	*/
}

.col2_3, .col3 {
/*border:1px solid;*/
border-radius:12px;
/*box-shadow: 10px 10px 5px #888888;*/
margin-bottom: 20px ;
}

.col3 {
  width: calc(100%/3 - 25px );
/*  animation:myfirst 5s;*/
}

.col1 {
	width: 100%;
 /* border-radius: 12px;*/
}	

/** Column 2/3% width**/
.col2_3 {
		width: calc((100%/3) *2 - 25px );
}

.col3 section {
}

h2.invert {
	background-color: #191970;
}
/*
h2.invert:hover {
	color: white;
	background-color: #006400;
}
*/
.left {
	float: left ;
}

.right {
	float: right ;
}

@keyframes myfirst
{
0%   {background:red;}
25%  {background:yellow;}
50%  {background:blue;}
100% {background:green;}
}

.metro-container {
	margin-left: 20px ;
	background-color: orange ;
	height: 130px ;
}

.metro-tile {
	float: left ;
	background-color: #D8512B;
	border-color: #DC6241;
	width: 104px;
	height: 104px;
	width: 82px;
	height: 82px;
	padding: 5px;
	color: #FFF;
	font-family: sans-serif;
	font-size: 12px;
	border-width: 3px;
	border-style: solid;
	cursor: default;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
	margin-left:5px; 
	margin-top: 5px;
}

.metro-tile-tweet {
	/*background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Facebook.png);*/
	background: url("../images/Twitter-tile.png");
	background-color: #2878EC;
	border-color: #2878EC;
	background-repeat:no-repeat;
}

.metro-tile-facebook {
	/*background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Facebook.png);*/
	background: url("../images/facebook-tile.png");
	background-repeat:no-repeat;

	background-color: #3B5998;
	border-color: #3B5998;
}

.metro-tile-linkedin {
	/*background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Facebook.png);*/
	background: url("../images/Linkedin-tile.jpg");

	background-color: #4875B4;
	border-color: #4875B4;
}

.metro-tile-google {
	/*background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Facebook.png);*/
	background: url("../images/googleplus.png");

	background-color: #C63D2D;
	border-color: #C63D2D;
}


div.metro-tile:hover {
	-webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid; 
}

